.open {
    background-color: #fff;
}
@media screen and (max-height: 1920px) {
    

        .open img {

            display: block;
            position: relative;
            width: 144px;
            height: auto;
            margin: auto;
        }
    }
/*
@media screen and (min-width: 1920px) {

    .open img {
        margin-left: auto;
        display: block;
        margin-right: auto;
        padding-top: 20%;
    }
    
}

@media screen and (min-height: 960px) {

    .open img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 70%;
    }
    
}*/